@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";
@import "./RepositoryStyle.css";
@import "./PaginationStyle.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: #f2f2f2;
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  width: 12px;
  background: #343434;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  z-index: 10;
  transition: all 0.3s;
  background-color: #F5F871;
  height: 75px;
  display: flex;
  width: 100%;
  border-bottom: 4px solid #343434;
}

.header.active {
  background-color: #FFF;
  position: fixed;
  top: 0px;
  left: 0px;
}

.wrapper {
  width: 70%;
  margin: auto;
}

.header-right-section {
  gap: 50px;
}

.hero {
  position: absolute;
  width: 1920px;
  height: 456px;
  left: 0px;
  top: 0px;
  background-color: #F5F871
}

.input-search-hero {
  width: 500px;
  margin-top: 20px;
}

.input-search {
  width: 100%;
  background: #FFF4F4;
  height: 50px;
}

.input-search__field {
  width: calc(100% - 150px);
  padding: 0 20px;
  background: #FFF4F4;
  border: none;
  font-size: 16px;
  outline: none;
  height: 50px;
}

.input-search__button {
  width: 150px !important;
  color: #fff !important;
  border: none !important;
  cursor: pointer !important;
  font-size: 16px !important;
  background: #031B4E !important;
  height: 50px !important;
  border-radius: 0 !important;
}

.result-title {
  margin: 30px 0;
  font-size: 25px;
  color: #3F3D56;
  font-weight: bold;
}