.post-user {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #f6f6f6;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.post-user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-user-profile img {
  width: 40px;
  height: 40px;
}

.user-start-content {
  display: flex;
  gap: 5px;
  color: #e9a14e;
  align-items: center;
}